{% extends 'base.html'%}
{% block body %}
    <h2>{{ the_title }}</h2>
    <form method="post" action="/exec_equation">
        <table>
            <p>Use this form to submit a result of a equation:</p>
            <tr>
                <td>Compras:</td>
                <td><input type="text" name="comps"
                 width="60" /></td>
            </tr>
            <tr>
                <td>Gastos de compra:</td>
                <td><input type="text" name="spends" /></td>
            </tr>
          </table>
              <p>When you're ready, click this button:</p>
              <p><input type="submit" value="Do it!" /></p>
    </form>
{% endblock%}